{% extends 'base.html.twig' %}

{% block title %}Admin - Gestion des albums
{% endblock %}

{% block body %}

	<div class="h1-albums rounded text-center">
		<div class="item-h1-albums-fontawsome1"><i class="fa-solid fa-lock fa-3x"></i></div>
		<div class="item-h1-albums-fontawsome2"><h1>Admin - Gestion des albums</h1></div>
	</div>

	<div class="flex-container-albums1">
		<div>
			<span class="span-albums">Résultats :</span>
			{{ albums.getTotalItemCount }}</div>
		<div>{{ include('admin_album/_search_data_html.twig') }}</div>
	</div>

	<div class="flex-container-albums2">
		<div class="ajouter my-2 rounded text-center">
			<a href="{{ path('app_admin_album_new') }}" class="text-decoration-none text-white fw-bold">Ajouter</a>
		</div>
		<div></div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="rounded-row1">ID</th>
				<th>Titre francais</th>
				<th>Compositeur(s)</th>
				<th>Genre(s)</th>
				<th class="rounded-row2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for album in albums %}
				<tr>
					<td class="rounded-row1">{{ album.id }}</td>
					<td>{{ album.titreFrancais }}</td>
					<td>
						{% if album.compositeur %}
							{% for artiste in album.compositeur %}
								{{ artiste.nom }}
							{% endfor %}
						{% else %}
							<span class="text-danger fst-italic">N.R</span>
						{% endif %}
					</td>

					<td>
						{% if album.Genres %}
							{% for Genre in album.Genres %}
								{{ Genre.nom }}
							{% endfor %}
						{% else %}
							<span class="text-danger fst-italic">N.R</span>
						{% endif %}
					</td>

					<td class="rounded-row2">
						<div class="fiche-modifier-supprimer">
							<button class="btn-fiche-modifier-supprimer my-2 rounded text-center">
								<a href="{{ path('app_admin_album_show', {'id': album.id}) }}" class="text-decoration-none text-white fw-bold">Fiche</a>
							</button>

							<button class="btn-fiche-modifier-supprimer my-2 rounded text-center">
								<a href="{{ path('app_admin_album_edit', {'id': album.id}) }}" class="text-decoration-none text-white fw-bold">Modifier</a>
							</button>
						</div>

						{{ include('admin_album/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12" class="rounded">Aucun résultat trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
