{% extends 'base.html.twig' %}

{% block title %}{{livre.titreFrancais}}{% endblock %}

{% block body %}
	<div class="front-livre-item">
		<a href="{{ path('app_front_fiche_livre', {'id': livre.id}) }}" class="a-front-livre-fiche">
			<h2 class="front-livre-fiche">Fiche technique</h2>
		</a>
		<h2 class="front-livre-news">News</h2>
		<h2 class="front-livre-forum">Forum</h2>
	</div>

	<div class="front-livre">

		<div class="front-livre-item1">
			<div>
				<img src="{{ vich_uploader_asset(livre, 'imageFile') }}" alt="" class="img-front-livre">
			</div>
		</div>

		<div class="front-livre-item2">
			<div>
				<h1>
					<i>{{ livre.titreFrancais }}</i>
				</h1>
			</div>

			<div>
				<p>
					<b>Titre original :</b>
					{{livre.titreOriginal}}
				</p>
			</div>

			<div>
				<p>
					<b>Auteur(s) :</b>
					{% for artiste in livre.auteur %}
						{{ artiste.nom }}
					{% endfor %}
				</p>
			</div>

			<div>
				<p>
					<b>Genre(s) :</b>
					{% for Genre in livre.Genres %}
						{{ Genre.nom }}
					{% endfor %}
				</p>
			</div>

			<div>
				<p>
					<b>Date de parution (France) :</b>
					{% set formattedDate = livre.DatePublicationFrance ? "Le " ~ livre.DatePublicationFrance|date('d F Y', null, 'fr') : '' %}{{ formattedDate }}
				</p>
			</div>

			<div>
				<p>
					<b>Pays d'origine :</b>
					{{livre.PaysOrigine}}
				</p>
			</div>

			<div>
				<p>
					<b>Langue d'origine :</b>
					{{livre.langue.nom}}
				</p>
			</div>

			<div>
				<p>
					<b>Moynne générale des abonnés :</b>
				</p>
				<p>Test</p>
			</p>
		</div>

		<div>
			<p>
				<b>Votre note :</b>
			</p>
			<p>Test</p>
		</div>

		<div>
			<p>
				<b>Votre critique :</b>
			</p>
		</div>
	</div>

</div>

<div class="front-livre-synopsis">
	<h2>Synopsis :</h2>
	<p>{{livre.synopsis}}</p>
</div>

<div class="front-livre-critiques">
	<h2>Critiques récentes</h2>
</div>

{% endblock %}
