{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

	<div class="connexion-page">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<div class="connexion">
				<h4 class="h4-connexion">ACCEDEZ A VOTRE COMPTE MEDIA VIEW</h4>
				{# <label for="inputEmail">Votre e-mail</label> #}
				<input
				type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre e-mail">
				{# <label for="inputPassword">Votre mot de passe</label> #}
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn-connexion" type="submit">CONNEXION</button>

                <h4 class="h4-connexion">PAS ENCORE DE COMPTE ?</h4>

			<button class="btn-inscription"><a href="{{path('app_register')}}" class="a-inscription">INSCRIPTION</a></button>

			</div>

		</form>
	</div>
{% endblock %}
