{{ form_start(form) }}

{{ form_row(form.titre_francais) }}
{{ form_row(form.titre_original) }}
{{ form_row(form.artistes) }}
{{ form_row(form.imageFile) }}
{{ form_row(form.genres) }}
{{ form_row(form.duree) }}
{{ form_row(form.synopsis) }}
{{ form_row(form.pays_origine) }}
{{ form_row(form.date_diffusion_france) }}
{{ form_row(form.date_diffusion_pays_origine) }}
{{ form_row(form.nombre_saisons)}}
{{ form_row(form.statut)}}

{# {{ form_row(form.bandesAnnoncesTeasers)}} #}
{# {{ form_label(form.imageFile2) }} #}

{{form_label(form.imageFile2)}}

<ul class="bandesAnnoncesTeasers" data-index="{{ form.imageFile2|length > 0 ? form.imageFile2|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.imageFile2)|e('html_attr') }}"></ul>

{% for tag in form.imageFile2 %}
	<li>{{ form_widget(bandeAnnonceTeaser) }}</li>
{% endfor %}

<button type="button" class="add_item_link form-control mx-5 my-3 btn" data-collection-holder-class="bandesAnnoncesTeasers">Ajouter une bande-annonce ou un teaser</button>

{{ form_widget(form) }}
<button class="btn-ajouter-serie form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter la série') }}</button>
{{ form_end(form) }}
