{{ form_start(form) }}

{{ form_row(form.titre_francais) }}
{{ form_row(form.titre_original) }}
{{ form_row(form.createur)}}
{{ form_row(form.imageFile) }}
{{ form_row(form.genres) }}
{{ form_row(form.duree) }}
{{ form_row(form.synopsis) }}
{{ form_row(form.pays_origine) }}
{{ form_row(form.date_diffusion_france) }}
{{ form_row(form.date_diffusion_pays_origine) }}
{{ form_row(form.producteur)}}
{{ form_row(form.scenariste)}}
{{ form_row(form.casting)}}
{{ form_row(form.compositeur)}}

<label for="" class="fw-bold mx-5 my-3">Bandes-annonce(s) et teaser(s)</label>

<ul class="bandesAnnoncesTeasers" data-index="{{ form.bandesAnnoncesTeasers|length > 0 ? form.bandesAnnoncesTeasers|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.bandesAnnoncesTeasers.vars.prototype)|e('html_attr') }}">

	{% for bandesAnnoncesTeaser in form.bandesAnnoncesTeasers %}
		<li>
			{{ bandesAnnoncesTeaser.vars.data.video }}
			{{ form_widget(bandesAnnoncesTeaser) }}
		</li>
	{% endfor %}

</ul>

<button type="button" class="add_item_link form-control mx-5 my-3 btn" data-collection-holder-class="bandesAnnoncesTeasers"><b>Ajouter une bande-annonce ou un teaser</b></button>

{{ form_row(form.nombre_saisons)}}
{{ form_row(form.statut)}}
{{ form_row(form.forum) }}

<button class="btn-ajouter-serie form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter la série') }}</button>
{{ form_end(form) }}
