{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="inscription-page">

    <div class="inscription">

    <h4 class="h4-inscription">DEVENIR MEMBRE DE MEDIA VIEW</h4>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn-inscription">Inscription</button>
		{{ form_end(registrationForm) }}

    </div>

	</div>
{% endblock %}
