{{ form_start(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.livres) }}

<button class="btn-ajouter-genre form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter le genre') }}</button>
{{ form_end(form) }}
