{% extends 'base.html.twig' %}

{% block title %}Critique index{% endblock %}

{% block body %}
    <h1>Critique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Critique</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for critique in critiques %}
            <tr>
                <td>{{ critique.id }}</td>
                <td>{{ critique.titre }}</td>
                <td>{{ critique.texte }}</td>
                <td>
                    <a href="{{ path('app_admin_critique_show', {'id': critique.id}) }}">show</a>
                    <a href="{{ path('app_admin_critique_edit', {'id': critique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_critique_new') }}">Create new</a>
{% endblock %}
