{% extends 'base.html.twig' %}

{% block title %}Notation index{% endblock %}

{% block body %}
    <h1>Notation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation in notations %}
            <tr>
                <td>{{ notation.id }}</td>
                <td>{{ notation.note }}</td>
                <td>{{ notation.updatedAt ? notation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_notation_show', {'id': notation.id}) }}">show</a>
                    <a href="{{ path('app_admin_notation_edit', {'id': notation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_notation_new') }}">Create new</a>
{% endblock %}
