{% extends 'base.html.twig' %}

{% block title %}BandesAnnoncesTeasers index{% endblock %}

{% block body %}
    <h1>BandesAnnoncesTeasers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Video</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bandes_annonces_teaser in bandes_annonces_teasers %}
            <tr>
                <td>{{ bandes_annonces_teaser.id }}</td>
                <td>{{ bandes_annonces_teaser.titre }}</td>
                <td>{{ bandes_annonces_teaser.video }}</td>
                <td>{{ bandes_annonces_teaser.updatedAt ? bandes_annonces_teaser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_bandes_annonces_teasers_show', {'id': bandes_annonces_teaser.id}) }}">show</a>
                    <a href="{{ path('app_bandes_annonces_teasers_edit', {'id': bandes_annonces_teaser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bandes_annonces_teasers_new') }}">Create new</a>
{% endblock %}
