{% extends 'base.html.twig' %}

{% block title %}BandesAnnoncesTeasers{% endblock %}

{% block body %}
    <h1>BandesAnnoncesTeasers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bandes_annonces_teaser.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bandes_annonces_teaser.titre }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ bandes_annonces_teaser.video }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ bandes_annonces_teaser.updatedAt ? bandes_annonces_teaser.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bandes_annonces_teasers_index') }}">back to list</a>

    <a href="{{ path('app_bandes_annonces_teasers_edit', {'id': bandes_annonces_teaser.id}) }}">edit</a>

    {{ include('bandes_annonces_teasers/_delete_form.html.twig') }}
{% endblock %}
