{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.pays) }}

    <button class="btn-ajouter-ville form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter la ville') }}</button>
{{ form_end(form) }}
