{% extends 'base.html.twig' %}

{% block title %}Admin - Gestion des artistes
{% endblock %}

{% block body %}

	<div class="h1-artistes rounded text-center">
		<h1>Admin - Gestion des artistes</h1>
	</div>

	<div class="flex-container-artistes">
		<div class="flex-item-artiste1"><span class="span-artistes">Résultats : </span>{{ artistes.getTotalItemCount }}</div>
		<div class="flex-item-artiste2">{{ include('admin_artiste/_search_data_html.twig') }}</div>
	</div>

	<table class="table">
		<thead class="rounded-row">
			<tr class="rounded-row">
				<th class="rounded-row1">ID</th>
				<th>Nom</th>
				<th>Date de naissance</th>
				<th>Activité(s)</th>
				<th>Pays d'origine</th>
				<th>Photo</th>
				<th class="rounded-row2">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for artiste in artistes %}
				<tr>
					<td class="rounded-row1">
						<span class="span-index">{{ artiste.id }}</span>
					</td>
					<td>
						<span class="span-index">{{ artiste.nom }}</span>
					</td>
					<td>
						<span class="span-index">{{ artiste.dateNaissance ? "Le "  ~ artiste.dateNaissance|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' }}</span>
					</td>
					<td>
						{% if artiste.metiers %}
							{% for metiers in artiste.metiers %}
								{{ metiers.nom }}
							{% endfor %}
						{% else %}
							<span class="text-danger fst-italic">N.R</span>
						{% endif %}
					</td>
					<td>
						<span class="span-index">{{ artiste.paysOrigine }}</span>
					</td>
					<td>
						<span class="span-index"><img src="{{ vich_uploader_asset(artiste, 'imageFile') }}" alt="Image"></span>
					</td>
					<td class="rounded-row2">
						<a href="{{ path('app_admin_artiste_show', {'id': artiste.id}) }}">show</a>
						<a href="{{ path('app_admin_artiste_edit', {'id': artiste.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="rounded">Aucun résultat trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
		{{ knp_pagination_render(artistes) }}
	</div>

	<a href="{{ path('app_admin_artiste_new') }}">Ajouter</a>
{% endblock %}
