{% extends 'base.html.twig' %}

{% block title %}Search index
{% endblock %}

{% block body %}
	<div class="h1-résultats-search h1-search">
		<h1>Résultats de la recherche :</h1>
	</div>

	{% block content %}
		{% if artistes | length > 0 or livres | length > 0 or films | length > 0 or series | length > 0 or albums | length > 0 %}
			<div class="search-artiste">
				{% if artistes | length > 0 %}
					<div class="h3-search-artiste">
						<h3>Artistes</h3>
					</div>
					<ul>
						{% for artiste in artistes %}
							<div class="ul-search-artiste">
								<div class="search-artiste-item1">
									<div>
										<a href="{{ path('app_admin_artiste_show', {'id': artiste.id}) }}" class="a-artiste-nom">
											<li><img class="search-artiste-photo" src="{{ vich_uploader_asset(artiste, 'imageFile') }}" alt="Couverture du livre"></li>
										</a>
									</div>
								</div>
								<div class="search-artiste-item2">
									<div>
										<a href="{{ path('app_admin_artiste_show', {'id': artiste.id}) }}" class="a-artiste-nom">
											<li class="search-artiste-nom">
												<b>Nom :</b>
												{{ artiste.nom }}
											</li>
										</a>
									</div>
									<div>
										<li class="search-artiste-date-naissance">
											<b>Date de naissance :</b>
											{{ artiste.dateNaissance ? "Le "  ~ artiste.dateNaissance|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' }}
										</li>
									</div>
									<div>
										<li class="search-artiste-activite">
											<b>Activité(s) :</b>
											{% for metiers in artiste.metiers %}
												{{ metiers.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-artiste-ville">
											<b>Ville d'origine :</b>
											{{artiste.ville.nom}}
										</li>
									</div>
									<div>
										<li class="search-artiste-pays">
											<b>Pays d'origine :</b>
											{{ artiste.paysOrigine }}
										</li>
									</div>
								</div>
								<div class="search-artiste-item3">
									<li class="search-artiste-presentation">
										<p>
											<b>Présentation :</b>
										</p>
										{{ artiste.presentation }}
									</li>
								</div>
							</div>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="search-livre">
				{% if livres | length > 0 %}
					<div class="h3-search-livre">
						<h3>Livres</h3>
					</div>
					<ul>
						{% for livre in livres %}
							<div class="ul-search-livre">
								<div class="search-livre-item1">
									<div>
										<a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="a-livre-titre">
											<li><img class="search-livre-couverture" src="{{ vich_uploader_asset(livre, 'imageFile') }}" alt="Couverture du livre"></li>
										</a>
									</div>
								</div>
								<div class="search-livre-item2">
									<div>
										<a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="a-livre-titre">
											<li class="search-livre-titre">
												<b>Titre français :</b>
												<i>{{ livre.titreFrancais }}</i>
											</li>
										</a>
									</div>
									<div>
										<li class="search-livre-auteur">
											<b>Auteur(s) :</b>
											{% for artiste in livre.auteur %}
												{{ artiste.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-livre-genre">
											<b>Genre(s) :</b>
											{% for Genre in livre.Genres %}
												{{ Genre.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-livre-editeur">
											<b>Editeur(s) :</b>
											{% for EditeurFrance in livre.EditeurFrance %}
												{{ EditeurFrance.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-livre-date">
											<b>Parution :</b>
											{% set formattedDate = livre.DatePublicationFrance ? "Le " ~ livre.DatePublicationFrance|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' %}{{ formattedDate }}
										</li>
									</div>
								</div>
								<div class="search-livre-item3">
									<li class="search-livre-synopsis">
										<p>
											<b>Synposis :</b>
										</p>
										{{ livre.synopsis }}
									</li>
								</div>
							</div>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="search-film">
				{% if films | length > 0 %}
					<div class="h3-search-film">
						<h3>Films</h3>
					</div>
					<ul>
						{% for film in films %}
							<div class="ul-search-film">
								<div class="search-film-item1">
									<div>
										<a href="{{ path('app_admin_film_show', {'id': film.id}) }}" class="a-film-titre">
											<li><img class="search-film-affiche" src="{{ vich_uploader_asset(film, 'imageFile') }}" alt="Affiche du film"></li>
										</a>
									</div>
								</div>
								<div class="search-film-item2">
									<div>
										<a href="{{ path('app_admin_film_show', {'id': film.id}) }}" class="a-film-titre">
											<li class="search-film-titre">
												<b>Titre français :</b>
												<i>{{ film.titreFrancais }}</i>
											</li>
										</a>
									</div>
									<div>
										<li class="search-film-realisateur">
											<b>Réalisateur(s) :</b>
											{% for artiste in film.realisateur %}
												{{ artiste.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-film-genre">
											<b>Genre(s) :</b>
											{% for Genre in film.Genres %}
												{{ Genre.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-film-duree">
											<b>Durée :</b>
											{{ film.duree ? film.duree|date('H') ~ 'h' ~ film.duree|date('i') : '' }}
										</li>
									</div>
									<div>
										<li class="search-film-date">
											<b>Sortie :</b>
											{{ film.dateSortieFrance ? "Le " ~ film.dateSortieFrance|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' }}</li>
									</div>
								</div>
								<div class="search-film-item3">
									<li class="search-film-synopsis">
										<p>
											<b>Synposis :</b>
										</p>
										{{ film.synopsis }}</li>
								</div>
							</div>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="search-serie">
				{% if series | length > 0 %}
					<div class="h3-search-serie">
						<h3>Séries</h3>
					</div>
					<ul>
						{% for serie in series %}
							<div class="ul-search-serie">
								<div class="search-serie-item1">
									<div>
										<a href="{{ path('app_admin_serie_show', {'id': serie.id}) }}" class="a-serie-titre">
											<li><img class="search-serie-affiche" src="{{ vich_uploader_asset(serie, 'imageFile') }}" alt="Affiche du film"></li>
										</a>
									</div>
								</div>
								<div class="search-serie-item2">
									<div>
										<a href="{{ path('app_admin_serie_show', {'id': serie.id}) }}" class="a-serie-titre">
											<li class="search-serie-titre">

												<b>Titre français :</b>
												<i>{{ serie.titreFrancais }}</i>
											</li>
										</a>
									</div>
									<div>
										<li class="search-serie-createur">
											<b>Créateur(s) :</b>
											{% for artiste in serie.createur %}
												{{ artiste.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-serie-genre">
											<b>Genre(s) :</b>
											{% for Genre in serie.Genres %}
												{{ Genre.nom }}
											{% endfor %}
										</li>
									</div>
									<div>
										<li class="search-serie-duree">
											<b>Durée :</b>
											{{ serie.duree ? serie.duree|date('H') ~ 'h' ~ serie.duree|date('i') : '' }}
										</li>
									</div>
									<div>
										<li class="search-serie-date">
											<b>Sortie :</b>
											{{ serie.dateDiffusionFrance ? "Le "  ~ serie.dateDiffusionFrance|format_datetime(locale='fr',pattern="dd MMMM YYYY") : '' }}</li>
									</div>
								</div>
								<div class="search-serie-item3">
									<li class="search-serie-synopsis">
										<p>
											<b>Synposis :</b>
										</p>
										{{ serie.synopsis }}</li>
								</div>
							</div>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			{% if albums | length > 0 %}
				<h3>Albums</h3>
				<ul>
					{% for album in albums %}
						<li>
							<a href="{{ path('app_admin_album_show', {'id': album.id}) }}">
								{{ album.titreFrancais }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

		{% else %}
			<div class="h1-résultats-search h1-search">
				<h3>Aucun résultat trouvé</h3>
			</div>
		{% endif %}
	{% endblock %}
{% endblock %}
