{{ form_start(form) }}
{{ form_row(form.titre_francais) }}
{{ form_row(form.titre_original) }}
{{ form_row(form.artistes) }}
{{ form_row(form.imageFile) }}
{{ form_row(form.genres) }}
{{ form_row(form.duree) }}
{{ form_row(form.synopsis) }}
{{ form_row(form.pays_origine) }}
{{ form_row(form.date_sortie_france) }}
{{ form_row(form.date_sortie_pays_origine) }}
{{ form_row(form.scenariste) }}
{{ form_row(form.producteur) }}
{{ form_row(form.casting) }}
{{ form_row(form.compositeur) }}

{{form_label(form.imageFile2)}}

<ul class="bandesAnnoncesTeasers" data-index="{{ form.imageFile2|length > 0 ? form.imageFile2|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.imageFile2)|e('html_attr') }}"></ul>

{# <ul class="bandesAnnoncesTeasers" data-index="{{ form.imageFile2|length > 0 ? form.imageFile2|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.imageFile2.vars.prototype)|e('html_attr') }}"></ul> #}

{% for tag in form.imageFile2 %}
	<li>{{ form_widget(bandeAnnonceTeaser) }}</li>
{% endfor %}

<button type="button" class="add_item_link form-control mx-5 my-3 btn" data-collection-holder-class="bandesAnnoncesTeasers">Ajouter une bande-annonce ou un teaser</button>

{{ form_row(form.forum) }}

<button class="btn-ajouter-film form-control mx-5 my-3 btn fw-bold">{{ button_label|default('Ajouter le film') }}</button>

{{ form_end(form) }}

