{% extends 'base.html.twig' %}

{% block title %}Film
{% endblock %}

{% block body %}
	<h1>Film</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ film.id }}</td>
			</tr>
			<tr>
				<th>Titre_francais</th>
				<td>{{ film.titreFrancais }}</td>
			</tr>
			<tr>
				<th>Titre_original</th>
				<td>{{ film.titreOriginal }}</td>
			</tr>

			<tr>
				<th>Réalisateur(s)</th>
				<td>
					{% if film.realisateur %}
						{% for artiste in film.realisateur %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>Affiche</th>
				<td><img src="{{ vich_uploader_asset(film, 'imageFile') }}" alt="Affiche du film"></td>
			</tr>
			<tr>
				<th>Duree</th>
				<td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Synopsis</th>
				<td>{{ film.synopsis }}</td>
			</tr>
			<tr>
				<th>Pays_origine</th>
				<td>{{ film.paysOrigine }}</td>
			</tr>
			<tr>
				<th>Date_sortie_france</th>
				<td>{{ film.dateSortieFrance ? film.dateSortieFrance|date('d F Y') : ''}}</td>
			</tr>
			<tr>
				<th>Date_sortie_pays_origine</th>
				<td>{{ film.dateSortiePaysOrigine ? film.dateSortiePaysOrigine|date('d F Y') : ''|trans }}</td>
			</tr>

			<tr>
				<th>Scénariste(s)</th>
				<td>

					{% if film.scenariste %}
						{% for artiste in film.scenariste %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}

				</td>
			</tr>

			<tr>
				<th>Producteur(s)</th>
				<td>
					{% if film.producteur %}
						{% for artiste in film.producteur %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>Casting</th>
				<td>

					{% if film.casting %}
						{% for artiste in film.casting %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}

				</td>
			</tr>

			<tr>
				<th>Compositeur</th>
				<td>
					{% if film.compositeur %}
						{% for artiste in film.compositeur %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}
				</td>
			</tr>

			<tr>
				<th>Bandes_annonces_teasers</th>
				<td>
					{% for bandeAnnonceTeaser in film.bandesAnnoncesTeasers %}
						<div class="bande-annonce">
							<h3>{{ bandeAnnonceTeaser.titre }}</h3>
							<video src="{{ vich_uploader_asset(bandeAnnonceTeaser, 'imageFile') }}" controls></video>
						</div>
					{% endfor %}


				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_film_index') }}">back to list</a>

	<a href="{{ path('app_admin_film_edit', {'id': film.id}) }}">edit</a>

	{{ include('admin_film/_delete_form.html.twig') }}
{% endblock %}
