<div class="flex-container-navbar">

	<div>
		<a href="{{ path('app_front') }}"><img src="{{ asset('images/Logo/Logo1.png')}}" alt="Logo"></a>
	</div>

	<div>
		<div class="search-global">{{ render(controller('App\\Controller\\SearchController::renderSearchForm' )) }}</div>
	</div>

	<div>

		{% if app.user %}
			{# connecté #}
			<div class="flex-navbar1">
				<ul class="nav nav-tabs">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">Profil</a>
							</li>

							<li>
								<a class="dropdown-item" href="{{path('app_front_user')}}">Informations personnelles</a>
							</li>

							<li><hr class="dropdown-divider"></li>

							<li>
								<a class="flex-item-navbar1 dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		{% else %}
			{# non connecté #}

			<div class="flex-navbar2">
				<a class="flex-item-navbar3" href="{{ path('app_login') }}">Connexion</a>
			</div>

			<div class="flex-navbar3">
				<a class="flex-item-navbar2" href="{{ path('app_register') }}">Inscription</a>
			</div>
		{% endif %}
	</div>

</div>
