{% extends 'base.html.twig' %}

{% block title %}Admin - Gestion des livres
{% endblock %}

{% block body %}
	<h1>Admin - Gestion des livres</h1>

	<table class="table table-responsive table-stripped">
		<thead class="table table-responsive table-stripped">
			<tr>
				<th>ID</th>
				<th>Titre francais</th>
				<th>Auteur(s)</th>
                <th>Genre(s)</th>
                <th>Actions</th>
		</tr>
		</thead>
			<tbody class="table table-responsive table-stripped">
				{% for livre in livres %}
					<tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.titreFrancais }}</td>
					{# <td>{{ livre.titreOriginal }}</td> #}
					{# <td>{{ livre.couverture }}</td> #}
					{# <td>{{ livre.synopsis }}</td> #}
					{# <td>{{ livre.paysOrigine }}</td> #}
					{# <td>{{ livre.datePublicationFrance ? livre.datePublicationFrance|date('Y-m-d') : '' }}</td> #}
					{# <td>{{ livre.datePublicationPaysOrigine ? livre.datePublicationPaysOrigine|date('Y-m-d') : '' }}</td> #}
						{# <td>{{ livre.ISBN }}</td> #}

					<td>

                    {% if livre.auteur %}
						{% for artiste in livre.auteur %}
						{{ artiste.nom }}{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}
                    </td>

                    <td>
                    
                    {% if livre.Genres %}
						{% for Genre in livre.Genres %}
						{{ Genre.nom }}{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}

					{# {% if livre.genres %}
						{{livre.genres.nom}}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %} #}
                    
                    </td>

					<td>
						<a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}">show</a>
						<a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_admin_livre_new') }}">Create new</a>
{% endblock %}
