{% extends 'base.html.twig' %}

{% block title %}Admin - Gestion des livres
{% endblock %}

{% block body %}

	<div class="h1-livres rounded text-center">
		<div class="item-h1-livres-fontawsome1"><i class="fa-solid fa-lock fa-3x"></i></div>
		<div class="item-h1-livres-fontawsome2"><h1>Admin - Gestion des livres</h1></div>
	</div>

	<div class="flex-container-livres1">
		<div>
			<span class="span-livres">Résultats :</span>
			{{ livres.getTotalItemCount }}</div>
		<div>{{ include('admin_livre/_search_data_html.twig') }}</div>
	</div>

	<div class="flex-container-livres2">
		<div class="ajouter my-2 rounded text-center">
			<a href="{{ path('app_admin_livre_new') }}" class="text-decoration-none text-white fw-bold">Ajouter</a>
		</div>
		<div></div>
	</div>

	<table class="table table-responsive table-stripped rounded">
		<thead>
			<tr class="rounded">
				<th class="rounded-row1">ID</th>
				<th>Titre francais</th>
				<th>Auteur(s)</th>
				<th>Genre(s)</th>
				<th class="rounded-row2">Actions</th>
			</tr>
		</thead>

		<tbody>

			{% for livre in livres %}
				<tr class="rounded">
					<td class="rounded-row1">{{ livre.id }}</td>
					<td>{{ livre.titreFrancais }}</td>

					<td>
						{% if livre.auteur %}
							{% for artiste in livre.auteur %}
								{{ artiste.nom }}
							{% endfor %}
						{% else %}
							<span class="text-danger fst-italic">N.R</span>
						{% endif %}
					</td>

					<td>
						{% if livre.Genres %}
							{% for Genre in livre.Genres %}
								{{ Genre.nom }}
							{% endfor %}
						{% else %}
							<span class="text-danger fst-italic">N.R</span>
						{% endif %}
					</td>

					<td class="rounded-row2">
						<div class="fiche-modifier-supprimer">
							<button class="btn-fiche-modifier-supprimer my-2 rounded text-center">
								<a href="{{ path('app_admin_livre_show', {'id': livre.id}) }}" class="text-decoration-none text-white fw-bold">Fiche</a>
							</button>
							<button class="btn-fiche-modifier-supprimer my-2 rounded text-center">
								<a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}" class="text-decoration-none text-white fw-bold">Modifier</a>
							</button>
							{{ include('admin_livre/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="10" class="rounded">Aucun résultat trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
		{{ knp_pagination_render(livres) }}
	</div>
{% endblock %}
