{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block body %}
	<h1>Livre</h1>

	<table class="table">
		<tbody>

			<tr>
				<th class="th-show-livre">Id</th>
				<td>{{ livre.id }}</td>
			</tr>

			<tr>
				<th>Titre français</th>
				<td>{{ livre.titreFrancais }}</td>
			</tr>

			<tr>
				<th class="th-show-livre">Titre original</th>
				<td>
					{% if livre.paysOrigine is same as ('France') %}
						<p>-</p>
					{% else %}
						{{ livre.titreOriginal }}
					{% endif %}
				</td>
			</tr>

			<tr>
				<th class="th-show-livre">Auteur(s)</th>
				<td>
					{% if livre.auteur %}
						{% for artiste in livre.auteur %}
							{{ artiste.nom }}
						{% endfor %}
					{% else %}
						<span class="text-danger fst-italic">N.R</span>
					{% endif %}
				</td>
			</tr>

			<tr>
				<th class="th-show-livre">Couverture</th>
				<td><img src="{{ vich_uploader_asset(livre, 'imageFile') }}" alt="Couverture du livre"></td>
			</tr>

			<tr>
				<th class="th-show-livre">Genre(s)</th>
				<td>
					{% if livre.Genres %}

						{% for Genre in livre.Genres %}
							{{ Genre.nom }}
						{% endfor %}
					{% endif %}
				</td>
			</tr>
		</tbody>
	</td>
</tr>

<tr>
	<th class="th-show-livre">Synopsis</th>
	<td>{{ livre.synopsis }}</td>
</tr>

<tr>
	<th>Pays d'origine</th>
	<td>{{ livre.PaysOrigine }}</td>
</tr>

<tr>
	<th class="th-show-livre">Date de publication (France)</th>
	<td>{% set formattedDate = livre.DatePublicationFrance ? "Le " ~ livre.DatePublicationFrance|date('d F Y', null, 'fr') : '' %}{{ formattedDate }}</td>
</tr>

<tr>
	<th class="th-show-livre">Date de publication (Pays d'origine)</th>
	<td>

		{% if livre.PaysOrigine is same as ('France') %}
			<p>-</p>
		{% else %}
			{% set formattedDate = livre.DatePublicationPaysOrigine ? "Le " ~ livre.DatePublicationPaysOrigine|date('d F Y', null, 'fr') : '' %}{{ formattedDate }}</td>
	{% endif %}
</tr></tbody></table><h3>Version originale</h3><table class="table"><tbody>

<tr>
	<th class="th-show-livre">Langue d'origine</th>
	<td>
		{% if livre.langue %}
			{{livre.langue.nom}}
		{% else %}
			<span class="text-danger fst-italic">N.R</span>
		{% endif %}
	</td>
</tr>

<tr>
	<th class="th-show-livre">Editeur(s)</th>
	<td>
		{% for EditeurPaysOrigine in livre.EditeurPaysOrigine %}
			{{ EditeurPaysOrigine.nom }}
		{% endfor %}
	</td>
</tr>

<tr>
	<th class="th-show-livre">ISBN</th>
	<td>{{ livre.ISBN }}</td>
</tr></tbody></table><h3>Version française</h3><table class="table"><tbody>

<tr>
	<th class="th-show-livre">Traducteur(s)</th>
	<td>
		{% if livre.langue.nom is same as ('Français') %}
			<p>-</p>
		{% else %}
			{% for traducteur in livre.traducteur %}
				{{ traducteur.nom }}
			{% endfor %}
		{% endif %}
	</td>
</tr>

<tr>
	<th class="th-show-livre">Editeur(s)</th>
	<td>

		{% if livre.langue.nom is same as ('Français') %}
			<p>-</p>
		{% else %}
			{% for EditeurFrance in livre.EditeurFrance %}
				{{ EditeurFrance.nom }}
			{% endfor %}
		{% endif %}

	</td>
</tr>

<tr>
	<th class="th-show-livre">ISBN</th>
	<td>
		{% if livre.langue.nom is same as ('Français') %}
			<p>-</p>
		{% else %}
			{{ livre.ISBNFrance }}
		{% endif %}
	</td>

</tr></tbody></table><a href="{{ path('app_admin_livre_index') }}">back to list</a><a href="{{ path('app_admin_livre_edit', {'id': livre.id}) }}">edit</a>{{ include('admin_livre/_delete_form.html.twig') }}{% endblock %}
