{% extends 'base.html.twig' %}

{% block title %}ConditionsGeneralesUtilisation{% endblock %}

{% block body %}
    <h1>ConditionsGeneralesUtilisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conditions_generales_utilisation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ conditions_generales_utilisation.titre }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ conditions_generales_utilisation.introduction }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conditions_generales_utilisation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_conditions_generales_utilisation_index') }}">back to list</a>

    <a href="{{ path('app_admin_conditions_generales_utilisation_edit', {'id': conditions_generales_utilisation.id}) }}">edit</a>

    {{ include('admin_conditions_generales_utilisation/_delete_form.html.twig') }}
{% endblock %}
